page-record {

.record-content {
	background:  #e6f2ff;
	
	background: #1c2627 url("../assets/image/background6.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  }
}
