page-instructions {

.popover {

	margin-left:80%;
}

.instructions-content {

	background: #1c2627 url("/assets/image/background6.gif") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

	
	background:  #e6f2ff;}
}
